<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
=======
* {
	box-sizing: border-box;
	transition: all 0.2s ease-in;
  }

html {
	height: 100%;
>>>>>>> parent of e9c1370 (simplificando)

*{
    outline: 1px solid red;
}
<<<<<<< HEAD
.main{
    display: flex;
    justify-content: center;
    background: #F3F5FC;
}

.logo{
    width: 120px;
    height: 944px;
    margin: 40px 0 40px 40px;
    display: flex;
    justify-content: flex-end;
}

.logo img {
    height: 48px;
    width: 32px;
    margin-top: 40px;
}

.input{
    background-color: #F3F5FC;
    margin: 40px 0 40px 80px;
    width: 800px;
    min-width: 500px;
    height: 944px;
    flex-direction: column;
=======

h1, p, span {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;

	background-color: #F3F5FC;
	font-family: 'Inter', sans-serif;
	height: 100%;
	width: 100%;

}

main {
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 1440px;
	height: 100%;
	margin: 0 auto;
	align-items: flex-start;
	justify-content: space-between;
	padding: 40px;
	box-sizing: border-box;

}

header {
	width: 120px;
	height: 100%;
}

.app-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	align-items: flex-start;
	justify-content: space-between;
	gap: 32px;

}


form {
	display: flex;
	flex-direction: column;
	align-self: start;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	gap: 32px;

}

textarea {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
	font-family: 'Inter', sans-serif;
	transition: all 0.5s cubic-bezier(.89,.34,.29,1.43);


	font-weight: 400;
	font-size: 24px;

}

textarea:focus {
	background-color: white;
	transform: scale(1.01);
	outline: none;
	border-radius: 20px;
	box-shadow: 0px 44px 40px -7px rgba(0, 0, 0, 0.1);
	padding: 32px;
}

textarea::placeholder {
	color: #0A3871;
}

.butao {
	display: flex;
	flex-direction: row;
	gap: 20px;


}
form div {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.hint {
	display: flex;
	flex-direction: row;
	gap: 16px;
}


input[type=button] {
	width: 100%;
	padding: 24px;
	transition: all 0.5s cubic-bezier(.89,.34,.29,1.43);
	border-radius: 24px;
	border: 2px solid #0A3871;
	font-size: 16px;
	font-family: 'Inter';
	font-weight: 500;
}

#criptografar {
	background-color: #0A3871;
	color: white;
	transition: all 0.5s cubic-bezier(.89,.34,.29,1.43);
}

#descriptografar {
	background-color: #D8DFE8;
	color: #0A3871;
	transition: all 0.5s cubic-bezier(.89,.34,.29,1.43);
}
#criptografar:hover {
	transform: translate(-10px, -10px);
	box-shadow: 10px 10px 0px #00022D;

}
#descriptografar:hover {
	transform: translate(10px, 10px);
	box-shadow: -10px -10px 0px #00022D;
}

#resultado {
	width: 400px;
	padding: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	height: 100%;
	border-radius: 32px;
>>>>>>> parent of e9c1370 (simplificando)


}

<<<<<<< HEAD
.textarea{
    width: 100%;
    height: 645px;
    border: none;
    resize: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background-color: #F3F5FC;
}

.inf{
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;

}

.inf img {
    margin-right: 10px;
}

.btns{
    margin-top: 20px;
}
#btn1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 24px;
    gap: 8px;
    border-radius: 24px;
    width: 40%;
    height: 67px;
    background: #0A3871;
    cursor: pointer;


}
.btns button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 24px;
    gap: 8px;
    border-radius: 24px;
    width: 40%;
    height: 67px;
    background: #D8DFE8;
    color: #0A3871;
    cursor: pointer;

}

.display{
    background-color: #FEFEFE;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    width: 400px;
    height: 944px;
    margin: 40px 40px 40px 80px;
    display: flex;
}
.conjunto{
    margin:32px;
    max-width: 800px;
    display: flex;
    width: 100%;
    background-color: #FEFEFE;
    flex-direction: column;
}

.resultado{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    width: 100%;
    height: 781px;

    margin-bottom: 32px;
}

.btn3{
    height: 67px;
    width: 336px;
    left: 1032px;
    top: 885px;
    border-radius: 24px;
    padding: 24px;
    cursor: pointer;

}

.lupa{
    margin: 243px 32px 0 32px;
}

.lupa h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    margin: 16px;
}

h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;

}

footer{
    background: #F3F5FC;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
footer p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 150%;

}

.links ol{

    display: flex;
    flex-direction: row;
}
.links ol li{
    margin: 10px;
}
=======
#placeholder {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.ph-content {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.ph-content h1 {
	font-size: 24px;
	font-weight: bold;
	line-height:120%;
}

.ph-content p {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
}

>>>>>>> parent of e9c1370 (simplificando)
