@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    outline: 1px solid red;
}
.main{
    display: flex;
    justify-content: center;
    background: #F3F5FC;
}

.logo{
    width: 120px;
    height: 944px;
    margin: 40px 0 40px 40px;
    display: flex;
    justify-content: flex-end;
}

.logo img {
    height: 48px;
    width: 32px;
    margin-top: 40px;
}

.input{
    background-color: #F3F5FC;
    margin: 40px 0 40px 80px;
    width: 800px;
    min-width: 500px;
    height: 944px;
    flex-direction: column;


}

.textarea{
    width: 100%;
    height: 645px;
    border: none;
    resize: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background-color: #F3F5FC;
}

.inf{
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;

}

.inf img {
    margin-right: 10px;
}

.btns{
    margin-top: 20px;
}
#btn1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 24px;
    gap: 8px;
    border-radius: 24px;
    width: 40%;
    height: 67px;
    background: #0A3871;
    cursor: pointer;


}
.btns button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 24px;
    gap: 8px;
    border-radius: 24px;
    width: 40%;
    height: 67px;
    background: #D8DFE8;
    color: #0A3871;
    cursor: pointer;

}

.display{
    background-color: #FEFEFE;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    width: 400px;
    height: 944px;
    margin: 40px 40px 40px 80px;
    display: flex;
}
.conjunto{
    margin:32px;
    max-width: 800px;
    display: flex;
    width: 100%;
    background-color: #FEFEFE;
    flex-direction: column;
}

.resultado{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    width: 100%;
    height: 781px;

    margin-bottom: 32px;
}

.btn3{
    height: 67px;
    width: 336px;
    left: 1032px;
    top: 885px;
    border-radius: 24px;
    padding: 24px;
    cursor: pointer;

}

.lupa{
    margin: 243px 32px 0 32px;
}

.lupa h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    margin: 16px;
}

h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;

}

footer{
    background: #F3F5FC;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
footer p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 150%;

}

.links ol{

    display: flex;
    flex-direction: row;
}
.links ol li{
    margin: 10px;
}